<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="customer" class="kr.iei.customer.domain.Customer">
<!-- 		<property name="id" value="1"></property> -->
<!-- 		<property name="name" value="일용자"></property> -->
<!-- 		<property name="address"> -->
<!-- 			<value>서울시 문방구</value> -->
<!-- 		</property> -->
<!-- 		<property name="email" value="khuser01@iei.co.kr"></property> -->
		<constructor-arg value="2"></constructor-arg>
		<constructor-arg value="이용자"></constructor-arg>
		<constructor-arg value="경기도 고양시"></constructor-arg>
		<constructor-arg value="khuser02@iei.co.kr"></constructor-arg>
	</bean>

	<bean id="customerStore" class="kr.iei.customer.store.logic.CustomerStoreLogic"></bean>
	<bean id="customerService" class="kr.iei.customer.service.logic.CustomerServiceImpl">
<!-- 		<property name="store" ref="customerStore"></property>	 -->
		<constructor-arg ref="customerStore" />
	</bean>
</beans>
